[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"

[dev-packages]
rope = "*"
autopep8 = "*"
flake8 = "*"
pyflakes = "*"
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
